<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
            name="description"
            content=""
    />
    <meta
            name="author"
            content=""
    />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon -->
    <link
            rel="icon"
            type="image/x-icon"
            href="assets/favicon.ico"
    />
    <!-- Bootstrap icons -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link
            href="css/home.css"
            rel="stylesheet"
    />
    <style>
        .slider {
            -webkit-appearance: none;
            width: 15%;
            height: 10px;
            background: #d3d3d3;
            border-radius: 10px;
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            background: #212529;
            border-radius: 50%;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #04aa6d;
            cursor: pointer;
        }

        .filter-container {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .filter-container select {
            width: 5%;
            border: none;
        }

        .active-page-button {
            background-color: #000; /* Màu nền nút khi được chọn */
            color: #fff; /* Màu văn bản khi được chọn */
        }

        #cart-form button a {
            text-decoration: none;
            color: black;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 10px;
        }

        #cart-form button a:hover {
            color: white;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a
                class="navbar-brand"
                href="#!"
        >Start Bootstrap</a
        >
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a
                            class="nav-link active"
                            aria-current="page"
                            href="/"
                    >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="#!"
                    >About</a
                    >
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            id="navbarDropdown"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >Shop</a
                    >
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown"
                    >
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="/"
                            >All Products</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="/"
                            >Popular Items</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#!"
                            >New Arrivals</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
            <div
                    id="loginForm"
                    style="
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                        "
            >
                <button
                        class="btn btn-outline-dark"
                        type="submit"
                        style="margin-right: 8px; display: none"
                        id="cart-btn"
                        onclick="cartEvent()"
                >
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span
                            class="badge bg-dark text-white ms-1 rounded-pill"
                            id="showQuantity"
                    >0</span
                    >
                </button>
                <button
                        id="logout-btn"
                        class="btn btn-person-dash-fill"
                        type="submit"
                        onclick="logOutEvent()"
                        style="display: none; margin-right: 8px"
                >
                    <i class="bi-person-fill me-1"></i>
                    Log out
                </button>
                <button
                        id="user-btn"
                        class="btn btn-outline-dark"
                        onclick="userEvent()"
                        type="button"
                        style="
                                margin-right: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-left: 5px;
                                display: none;
                            "
                >
                    <i
                            class="bi bi-person-lines-fill me-1"
                            style="margin: 0"
                    ></i>
                    <span>Info</span>
                </button>
                <button
                        id="login-btn"
                        class="btn btn-outline-dark"
                        type="submit"
                        style="margin-right: 8px"
                >
                    <a href="/login">
                        <i class="bi-person-fill me-1"></i>
                        Sign in
                    </a>
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                With this shop homepage template
            </p>
        </div>
    </div>
</header>
<!-- Section -->
<section
        class="h-100 h-custom"
        style="background-color: #eee"
>
    <div class="container h-100 py-5">
        <div
                class="row d-flex justify-content-center align-items-center h-100"
        >
            <div class="col">
                <div
                        class="card shopping-cart"
                        style="border-radius: 15px"
                >
                    <div class="card-body text-black">
                        <div class="row">
                            <div
                                    class="col-lg-6 px-5 py-4"
                                    id="content-container"
                            >
                                <h3
                                        class="mb-5 pt-2 text-center fw-bold text-uppercase"
                                >
                                    Your products
                                </h3>

                                <hr
                                        class="mb-4"
                                        style="
                                                height: 2px;
                                                background-color: #1266f1;
                                                opacity: 1;
                                            "
                                />

                                <!--                                <div-->
                                <!--                                        class="d-flex justify-content-between px-x"-->
                                <!--                                >-->
                                <!--                                    <p class="fw-bold">Discount:</p>-->
                                <!--                                    <p class="fw-bold">95$</p>-->
                                <!--                                </div>-->
                                <!--                                <div-->
                                <!--                                        class="d-flex justify-content-between p-2 mb-2"-->
                                <!--                                        style="background-color: #e1f5fe"-->
                                <!--                                >-->
                                <!--                                    <h5 class="fw-bold mb-0">Total:</h5>-->
                                <!--                                    <h5 class="fw-bold mb-0">2261$</h5>-->
                                <!--                                </div>-->
                            </div>
                            <div class="col-lg-6 px-5 py-4">
                                <h3
                                        class="mb-5 pt-2 text-center fw-bold text-uppercase"
                                >
                                    Payment
                                </h3>

                                <form class="mb-5">
                                    <label
                                            class="form-label"
                                            for="typeFullName"
                                    >Họ tên</label
                                    >
                                    <div class="form-outline mb-5">
                                        <input
                                                type="text"
                                                id="typeFullName"
                                                class="form-control form-control-lg"
                                                siez="17"
                                                minlength="19"
                                                maxlength="19"
                                                placeholder=""
                                        />
                                    </div>

                                    <div class="form-outline mb-5">
                                        <label
                                                class="form-label"
                                                for="typeAddress"
                                        >Địa chỉ giao hàng</label
                                        >
                                        <input
                                                type="text"
                                                id="typeAddress"
                                                class="form-control form-control-lg"
                                                siez="17"
                                        />
                                    </div>
                                    <div class="form-outline mb-5">
                                        <label
                                                class="form-label"
                                                for="typePhone"
                                        >Số điện thoại</label
                                        >
                                        <input
                                                type="text"
                                                id="typePhone"
                                                class="form-control form-control-lg"
                                                siez="17"
                                                placeholder="+84..."
                                        />
                                    </div>

                                    <!-- <div class="row">
<div class="col-md-6 mb-5">
    <div class="form-outline">
        <input
            type="text"
            id="typeExp"
            class="form-control form-control-lg"
            value="01/22"
            size="7"
            minlength="7"
            maxlength="7"
        />
        <label
            class="form-label"
            for="typeExp"
            >Expiration</label
        >
    </div>
</div>
<div class="col-md-6 mb-5">
    <div class="form-outline">
        <input
            type="password"
            id="typeText2"
            class="form-control form-control-lg"
            value="&#9679;&#9679;&#9679;"
            size="1"
            minlength="3"
            maxlength="3"
        />
        <label
            class="form-label"
            for="typeText"
            >Cvv</label
        >
    </div>
</div>
</div> -->

                                    <p class="mb-5">
                                        <a href="#!"></a>
                                    </p>

                                    <button
                                            type="button"
                                            class="btn btn-primary btn-block btn-lg"
                                            id="buy-now"
                                            onclick="checkout()"
                                    >
                                        Buy now
                                    </button>

                                    <h5
                                            class="fw-bold mb-5"
                                            style="
                                                    position: absolute;
                                                    bottom: 0;
                                                "
                                    >
                                        <a href="/"
                                        ><i
                                                class="fas fa-angle-left me-2"
                                        ></i
                                        >Back to shopping</a
                                        >
                                    </h5>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2023
        </p>
    </div>
</footer>
<div
        class="notifications"
        id="notifications"
></div>
<!-- Bootstrap core JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS -->
<script src="js/scripts.js"></script>
<script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.7.1.min.js"
></script>
<script src="/js/ultils.js"></script>
<script src="/js/fetch.js"></script>
<script>
    window.onload = function () {
        renderProductItems();
        loadQuantity();

    };
    let totalPriceForCheckout;

    async function renderProductItems() {
        const url = 'http://localhost:8081/api/cart/getAll';

        try {
            const response = await fetch(url);
            if (response.ok) {
                const data = await response.json();

                const container =
                    document.querySelector('#content-container');
                if (
                    !data.productItems ||
                    data.productItems.length === 0
                ) {
                    console.log(data);
                    container.innerHTML =
                        "You haven't added any items to your cart.";
                } else {
                    const user = JSON.parse(
                        localStorage.getItem('user')
                    );
                    const userCartItems = data.cartItems.filter(
                        (item) => item.user_id === user.id
                    );
                    console.log(userCartItems);
                    console.log(data);

                    for (const userCartItem of userCartItems) {
                        const product = data.productItems.find(
                            (item) => item.id === userCartItem.productId
                        );
                        console.log(product);
                        if (product) {
                            // Tạo và hiển thị sản phẩm tương ứng
                            const productItem =
                                document.createElement('div');
                            productItem.classList.add(
                                'd-flex',
                                'align-items-center',
                                'mb-5'
                            );

                            const productImage =
                                document.createElement('div');
                            productImage.classList.add('flex-shrink-0');
                            productImage.innerHTML = `<img src="${product.imagePath}" class="img-fluid" style="width: 150px;" alt="Product Image">`;

                            const productDetails =
                                document.createElement('div');
                            productDetails.classList.add(
                                'flex-grow-1',
                                'ms-3'
                            );

                            const closeIcon =
                                document.createElement('a');
                            closeIcon.href = '#!';
                            closeIcon.classList.add(
                                'float-end',
                                'text-black'
                            );
                            closeIcon.innerHTML = `<i class="fas fa-times"></i>`;

                            const productName =
                                document.createElement('h5');
                            productName.classList.add('text-primary');
                            productName.innerText = product.name;

                            const productColor =
                                document.createElement('h6');
                            productColor.style.color = '#9e9e9e';
                            productColor.innerText = `Tên sản phẩm: ${product.name}`;

                            const priceAndQuantity =
                                document.createElement('div');
                            priceAndQuantity.classList.add(
                                'd-flex',
                                'align-items-center'
                            );

                            const productPrice =
                                document.createElement('p');
                            productPrice.classList.add(
                                'fw-bold',
                                'mb-0',
                                'me-5',
                                'pe-3'
                            );
                            const formattedPrice = formatPrice(
                                product.price
                            );
                            productPrice.innerText = `${formattedPrice} VNĐ`;

                            const quantityInput =
                                document.createElement('div');
                            quantityInput.classList.add(
                                'def-number-input',
                                'number-input',
                                'safari_only'
                            );
                            quantityInput.style.display = 'flex';

                            const quantityField =
                                document.createElement('input');
                            quantityField.classList.add(
                                'quantity',
                                'fw-bold',
                                'text-black'
                            );
                            quantityField.type = 'number';
                            quantityField.style.width = '50px';
                            quantityField.min = '0';
                            quantityField.name = userCartItem.productId;
                            quantityField.value = userCartItem.quantity;
                            quantityInput.appendChild(quantityField);

                            quantityField.setAttribute(
                                'data-index',
                                userCartItem.productId
                            );
                            quantityField.onchange = function () {
                                // Lấy index từ thuộc tính data-index
                                const user = JSON.parse(
                                    localStorage.getItem('user')
                                );
                                const productId =
                                    this.getAttribute('data-index');
                                const newQuantity = parseInt(
                                    this.value,
                                    10
                                );
                                if (
                                    !isNaN(newQuantity) &&
                                    newQuantity >= 0
                                ) {
                                    const updateData = {
                                        id: productId, // Thêm id vào dữ liệu cần gửi
                                        quantity: newQuantity,
                                        user_id: user.id,
                                    };
                                    console.log(updateData.quantity);

                                    updateQuantity(updateData);
                                } else {
                                    // Khôi phục lại giá trị trước đó nếu người dùng nhập giá trị không hợp lệ
                                    quantityField.value =
                                        userCartItem.quantity;
                                }
                            };
                            const deleteButton =
                                document.createElement('button');
                            deleteButton.classList.add(
                                'btn',
                                'btn-danger'
                            );
                            deleteButton.innerText = 'Xóa';
                            deleteButton.addEventListener(
                                'click',
                                () => {
                                    const productId =
                                        userCartItem.productId;

                                    const userId = userCartItem.user_id;
                                    const data = {
                                        productId: productId,
                                        user_id: userId,
                                    };
                                    console.log(data);

                                    deleteCartItem(data);
                                }
                            );

                            productDetails.appendChild(closeIcon);
                            productDetails.appendChild(productName);
                            productDetails.appendChild(productColor);
                            productDetails.appendChild(
                                priceAndQuantity
                            );
                            priceAndQuantity.appendChild(productPrice);
                            priceAndQuantity.appendChild(quantityInput);
                            productDetails.appendChild(deleteButton);

                            productItem.appendChild(productImage);
                            productItem.appendChild(productDetails);

                            container.appendChild(productItem);
                        }
                    }

                    // Calculate and display the total price
                    const totalContainer =
                        document.createElement('div');
                    totalContainer.classList.add(
                        'd-flex',
                        'justify-content-between',
                        'p-2',
                        'mb-2'
                    );
                    totalContainer.style.backgroundColor = '#e1f5fe';
                    const totalLabel = document.createElement('h5');
                    totalLabel.classList.add('fw-bold', 'mb-0');
                    totalLabel.innerText = 'Total:';



                    const totalValue = document.createElement('h5');
                    totalValue.classList.add('fw-bold', 'mb-0');

                    totalValue.id = 'total-value';

                    totalContainer.appendChild(totalLabel);
                    totalContainer.appendChild(totalValue);
                    container.appendChild(totalContainer);
                    calculateTotalPrice();

                }
            } else {
                console.error('Failed to fetch product items.');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function formatPrice(price) {
        return new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        }).format(price);
    }
    function updateQuantity(data) {
        const updateUrl = `http://localhost:8081/api/cart/updateQuantity`;

        fetch(updateUrl, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data), // Truyền dữ liệu vào đây
        })
            .then((response) => response.json())
            .then((response) => {
                // Xử lý kết quả trả về từ controller
                console.log('Update response:', response);
                if (response.status === 'success') {
                    // Nếu cập nhật thành công, cập nhật lại total price
                    calculateTotalPrice();
                } else {
                    alert(error.message);
                    // Hiển thị thông báo lỗi nếu cập nhật không thành công
                    console.error('Update error:', response.message);
                }
            })
            .catch((error) => {
                console.error('Update error:', error);
            });
    }

    function calculateTotalPrice() {
        const user = JSON.parse(localStorage.getItem('user'));
        console.log(user.id);
        const url = `http://localhost:8081/api/cart/getByUserId/${user.id}`;

        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                const user = JSON.parse(localStorage.getItem('user'));
                console.log(data);
                console.log(data.cartItems[0].user_id);
                if (data.cartItems[0].user_id == user.id) {
                    if (data && data.productItems && data.cartItems) {
                        const totalPrice = data.cartItems.reduce(
                            (total, item, index) => {
                                console.log(item)
                                return (
                                    total +
                                    item.price *
                                        data.cartItems[index].quantity
                                );
                            },
                            0
                        );

                        totalPriceForCheckout = totalPrice;
                        console.log(totalPrice)
                        // Định dạng total price
                        const formattedTotal = formatPrice(totalPrice);
                        console.log(formattedTotal)
                        // Cập nhật total price trong HTML
                        document.getElementById('total-value').textContent = formattedTotal + ' VNĐ';


                    }
                }
            })
            .catch((error) => {
                console.error(
                    'Failed to calculate total price:',
                    error
                );
            });
    }
    function isValidPhoneNumber(phoneNumber) {
    // Biểu thức chính quy kiểm tra số điện thoại Việt Nam (không kiểm tra xác thực thực tế của số điện thoại)
    const vietnamPhoneNumberRegex = /^(0[1-9][0-9]{8}|84[1-9][0-9]{8})$/;

    // Sử dụng test() để kiểm tra chuỗi phoneNumber với biểu thức chính quy
    return vietnamPhoneNumberRegex.test(phoneNumber);
}

    function checkout() {
        // Lấy thông tin từ các trường nhập liệu (tên, địa chỉ, số điện thoại)
        const fullName = document.getElementById('typeFullName').value;
        const address = document.getElementById('typeAddress').value;
        const phone = document.getElementById('typePhone').value;
        const user = localStorage.getItem('user');
        const parsedUser = JSON.parse(user);
        const createdAt = Date.now();
        console.log(parsedUser.email);
        console.log(totalPriceForCheckout);
        // Kiểm tra xem các trường có dữ liệu hợp lệ không
        if (
            fullName.trim() === '' ||
            address.trim() === '' ||
            phone.trim() === ''
        ) {
            createToast(
                'error',
                'bi-check-circle',
                'Error',
                'Vui lòng điền đầy đủ thông tin'
            );
            return;
        }
        if (!isValidPhoneNumber(phone)){
            createToast(
                'error',
                'bi-check-circle',
                'Error',
                'Số điện thoại không hợp lệ'
            );
            return;
        }


        // Tạo một đối tượng chứa thông tin thanh toán
        const paymentData = {
            customerName: fullName,
            shippingAddress: address,
            customerPhone: phone,
            email_receive: parsedUser.email,
            status: 0,
            total_price: totalPriceForCheckout,
            user: {
                id: parsedUser.id,
            },
            createdAt: createdAt
        };
        console.log(paymentData);
        // Gửi thông tin thanh toán đến máy chủ (backend) bằng một yêu cầu HTTP, ví dụ sử dụng fetch

        fetch('http://localhost:8081/api/order/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(paymentData),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.status === 'success') {
                    alert('Thanh toán thành công!');
                    // Sử dụng JavaScript để tải lại trang sau một khoảng thời gian ngắn (ví dụ: 2 giây)
                    setTimeout(function () {
                        location.reload();
                    }, 1000); // Tải lại trang sau 2 giây
                } else {
                    alert('Thanh toán thất bại. Vui lòng thử lại sau.');
                }
            })
            .catch((error) => {
                console.error('Lỗi khi gửi yêu cầu thanh toán:', error);
                alert(
                    'Có lỗi xảy ra khi thanh toán. Vui lòng thử lại sau.'
                );
            });
    }
    const logOutButton = document.getElementById('logout-btn');
    const cartButton = document.getElementById('cart-btn');
    const userButton = document.getElementById('user-btn');
    const signInButton = document.getElementById('login-btn');

    onSuccessfulLogin = (response) => {
        console.log(response);
        if (response.data.token) {
            console.log('Data: ' + response.data);
            localStorage.setItem('user', JSON.stringify(response.data));
            localStorage.setItem('token', response.data.token);
        }
        localStorage.setItem('user', JSON.stringify(response.data));
        logOutButton.style.display = 'block';
        signInButton.style.display = 'none';
        cartButton.style.display = 'block';
        userButton.style.display = 'block';
    };

    onFailedLogin = (error) => {
        document.getElementById('error-message').innerHTML = error;
        document.getElementById('error-message').style.display =
            'block';
        logOutButton.style.display = 'none';
        cartButton.style.display = 'none';
        signInButton.style.display = 'block';
        userButton.style.display = 'none';
    };

    const loginUrl = API_URL + '/auth/login';
    console.log(localStorage.getItem('token'));
    // check if have token in local storage
    if (localStorage.getItem('token')) {
        const data = {
            token: localStorage.getItem('token'),
        };

        onTokenLogin = (response) => {};
        postDataToApi(loginUrl, data, onSuccessfulLogin, onTokenLogin);
    } else if (localStorage.getItem('user')) {
    }

    function logOutEvent() {
        // Lấy token và user từ localStorage và xóa chúng
        const token = localStorage.getItem('token');
        const user = localStorage.getItem('user');
        localStorage.removeItem('token');
        localStorage.removeItem('user');

        console.log('Lay thong tin Logout');
        const logoutUrl = API_URL + '/auth/logout'; // Thay API_URL bằng địa chỉ URL thực tế của API logout
        fetch(logoutUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ token: token }), // Gửi token để xác định người dùng đăng xuất
        })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = '/';
                if (JSON.stringify(data.status) == 'success') {
                } else {
                    // Xử lý lỗi đăng xuất nếu cần
                    console.error('Error logging out:', data.message);
                    // Có thể hiển thị thông báo lỗi cho người dùng
                }
            })

            .catch((error) => {
                // Xử lý lỗi đăng xuất nếu có lỗi mạng hoặc lỗi server
                console.error('Error logging out:', error);
                // Có thể hiển thị thông báo lỗi cho người dùng
            });
        window.location.reload();
    }

    function cartEvent() {
        window.location.href = '/viewCart';
    }
    function deleteCartItem(data) {
        const deleteUrl = `http://localhost:8081/api/cart/deleteItem`;

        fetch(deleteUrl, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data), // Send data here
        })
            .then((response) => response.json())
            .then((response) => {
                // Handle the response from the controller
                console.log('Delete response:', response);
                if (response.status === 'success') {
                    // If the delete is successful, update the total price
                    renderProductItems();
                    removeProductFromUI(data.productId);
                    ư;
                } else {
                    alert(response.message); // Display an error message if the delete is not successful
                    console.error('Delete error:', response.message);
                }
            })
            .catch((error) => {
                console.error('Delete error:', error);
            });
    }

    // Hàm để xóa sản phẩm khỏi giao diện người dùng
    function removeProductFromUI(productId) {
        const productItem = document.querySelector(
            `[data-product-id="${productId}"]`
        );
        if (productItem) {
            productItem.remove();
        }
    }
    function loadQuantity() {
        fetch('http://localhost:8081/api/cart/getAll')
            .then((response) => {
                if (!response.ok) {
                    throw new Error(
                        `HTTP error! Status: ${response.status}`
                    );
                }
                return response.json();
            })
            .then((data) => {
                // Lấy thông tin người dùng từ localStorage
                const user = JSON.parse(localStorage.getItem('user'));
                if (user && user.id) {
                    const cartItems = data.cartItems;
                    let numberOfItemsInCart = 0;

                    // Lặp qua mảng cartItems và đếm số lượng dòng với user_id trùng với user.id
                    for (const item of cartItems) {
                        if (item.user_id === user.id) {
                            numberOfItemsInCart++;
                        }
                    }

                    console.log(numberOfItemsInCart);

                    // Cập nhật số lượng sản phẩm trên giao diện
                    const showQuantity =
                        document.getElementById('showQuantity');
                    showQuantity.textContent = numberOfItemsInCart;
                } else {
                    console.log(
                        'User information not found in localStorage.'
                    );
                }
            })
            .catch((error) => {
                console.error('Error fetching cart data:', error);
            });
    }
</script>
</body>
</html>
