<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="myFunction()">
<h1>Hit Counter</h1>
<p>Số lượt truy cập: <span id="result"></span></p>
</body>
<script>
    function myFunction (){
        fetch("/hit-counter/hit-counter", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            },
        })
        .then(response => response.json())
        .then(data => {
            // Hiển thị kết quả trả về trong div "result"
            const resultDiv = document.getElementById("result");
            console.log(data);
            result.innerHTML = data;
        })
        .catch(error => console.error("Lỗi:", error));
    }
</script>
</html>