<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/home.css" rel="stylesheet" />
    <style>
        .slider {
          -webkit-appearance: none;
          width: 15%;
          height: 10px;
          background: #d3d3d3;
          border-radius: 10px;
          outline: none;
          opacity: 0.7;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;
        }

        .slider:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          background: #212529;
          border-radius: 50%;
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: #04aa6d;
          cursor: pointer;
        }

        .filter-container {
          display: flex;
          gap: 10px;
          align-items: center;
          > select {
            width: 5%;
            border: none;
          }
        }
        .active-page-button {
          background-color: #000; /* Màu nền nút khi được chọn */
          color: #fff; /* Màu văn bản khi được chọn */
        }

        #cart-form{
        > button > a{
        text-decoration: none;
        color: black;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px;
        }
        > button > a:hover{
        color: white;
        }
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            id="navbarDropdown"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >Shop</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#!">All Products</a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">Popular Items</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#!">New Arrivals</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form id="cart-form" class="d-flex">
                <button id="logout-btn" class="btn btn-person-dash-fill" type="submit" onclick="" style="display: none">

                    <i class="bi-person-fill me-1"></i>
                    Log out

                </button>

                <button id="cart-btn" class="btn btn-outline-dark" type="submit" style="display: none">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>


                <button id="login-btn" class="btn btn-outline-dark" type="submit" >
                    <a href="/login">
                        <i class="bi-person-fill me-1"></i>
                        Sign in
                    </a>
                </button>

            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                With this shop hompeage template
            </p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="filter-container" style="width: 100%; margin-bottom: 10px">
            <label for="type">Type: </label>
            <select id="type" style="">
                <option value="A">A</option>

            </select>

            <label for="date">Date: </label>
            <select id="date">
                <option value="A">A</option>

            </select>

            <label for="sort">Sort: </label>
            <select id="sort">
                <option value="A">A</option>

            </select>

            <label for="country">Country: </label>
            <select id="country">
                <option value="A">A</option>

            </select>

            <label>Price: </label>

            <input
                    type="range"
                    min="1"
                    max="100"
                    value="0"
                    class="slider"
                    id="myRange"
                    oninput="this.nextElementSibling.value = this.value"
            />
            <output>0</output>
        </div>
        <div
                class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                id="product-list-container"
        >
            <div class="col mb-5">
                <!--                <div class="card h-100">-->
                <!--                    &lt;!&ndash; Product image&ndash;&gt;-->
                <!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
                <!--                    &lt;!&ndash; Product details&ndash;&gt;-->
                <!--                    <div class="card-body p-4">-->
                <!--                        <div class="text-center">-->
                <!--                            &lt;!&ndash; Product name&ndash;&gt;-->
                <!--                            <h5 class="fw-bolder">Fancy Product</h5>-->
                <!--                            &lt;!&ndash; Product price&ndash;&gt;-->
                <!--                            $40.00 - $80.00-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
                <!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
                <!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
        <div class="pagination-container text-center" id="pagination-container" >
            <div class="pagination-element"></div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2023
        </p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    const productListContainer = document.getElementById("product-list-container");
    let paginationContainer = document.getElementById(".pagination-container"); // Define paginationContainer
    const productsPerPage = 8;
    let currentPage = 1;

    // Function to fetch products from the server
    function fetchProducts(page, size, sortBy, sortType) {
      fetch(`/api/admin/product?page=${page}&size=${size}&sortBy=${sortBy}&sortType=${sortType}`)
        .then((response) => response.json())
        .then((data) => {
          // Handle the response from the server and render products
          renderProducts(data.data);
          renderPagination(data.metaData, currentPage, productsPerPage);
        })
        .catch((error) => {
          console.error("Error fetching products:", error);
        });
    }

    // Initial fetch of products with default parameters
    fetchProducts(currentPage, productsPerPage, "id", "ASC");

    function renderProducts(products) {
      // Clear the current content of the productListContainer
      productListContainer.innerHTML = "";
       console.log(products)
      // Iterate through the list of products and render each product
      products.forEach((product) => {
        // Create a div to display product information
        const productCard = document.createElement("div");
        productCard.classList.add("col", "mb-5");
        productCard.innerHTML = `
          <div class="item-container card h-100">
            <img class="card-img-top" src="${product.imagePath}" alt="Product Image" />
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder">${product.name}</h5>
                $${product.price.toFixed(2)}
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class "text-center">
                <a class="btn btn-outline-dark mt-auto" href="/getItem/${product.id}">View options</a>
              </div>
            </div>
          </div>
        `;


        productListContainer.appendChild(productCard);
      });
    }


    function renderPagination(metaData, currentPage, productsPerPage) {
    const paginationElements = document.querySelector(".pagination-element");
    paginationElements.innerHTML = '';

    const previousButton = document.createElement('button');
    previousButton.textContent = 'Previous';
    previousButton.classList.add('btn', 'btn-outline-dark');
    previousButton.addEventListener('click', () => {
        if (currentPage > 1) {
            fetchProducts(currentPage - 1, productsPerPage, 'id', 'ASC');
        }
    });


    const nextButton = document.createElement('button');
    nextButton.textContent = 'Next';
    nextButton.classList.add('btn', 'btn-outline-dark');
    nextButton.addEventListener('click', () => {
        if (currentPage < metaData.currentPage) {
            fetchProducts(currentPage + 1, productsPerPage, 'id', 'ASC');
        }
    });




    for (let i = 1; i <= 30; i++) {
        const pageButton = document.createElement('button');
        pageButton.textContent = i;
        pageButton.classList.add('btn', 'btn-outline-dark');
        pageButton.addEventListener('click', () => {
            fetchProducts(i, productsPerPage, 'id', 'ASC');
        });
        paginationContainer.appendChild(pageButton);
    }


    paginationContainer.appendChild(previousButton);
    paginationContainer.appendChild(nextButton);

    // Append the paginationContainer to your HTML, assuming you have an element with the id "pagination" to hold it
    const paginationElement = document.getElementById('pagination-element');
    paginationElement.innerHTML = '';
    paginationElement.appendChild(paginationContainer);
}


</script>


</body>
</html>
