<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
            name="description"
            content=""
    />
    <meta
            name="author"
            content=""
    />
    <link
            href="../css/item.css"
            rel="stylesheet"
    />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link
            rel="icon"
            type="image/x-icon"
            href="assets/favicon.ico"
    />
    <!-- Bootstrap icons-->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <!--    <link rel="stylesheet" href="/css/admin.css">-->
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        .buttons-noti {
            padding: 10px;
        }

        .notifications {
            display: flex;
            position: fixed;
            z-index: 999;
            top: 30px;
            right: 200px;
            height: 200px;
            width: 200px;
        }

        .toastPopup {
            cursor: pointer;
            position: relative;
            padding: 10px;
            color: #fff;
            margin-bottom: 10px;
            width: 400px;
            display: grid;
            grid-template-columns: 70px 1fr 70px;
            border-radius: 5px;
            --color: #0abf30;
            background-image: linear-gradient(
                    to right,
                    #0abf3055,
                    #22242f 30%
            );
            animation: show 0.3s ease 1 forwards;
        }

        .toastPopup i {
            color: var(--color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
        }

        .toastPopup .title {
            font-size: x-large;
            font-weight: bold;
        }

        .toastPopup span,
        .toastPopup i:nth-child(3) {
            color: #fff;
            opacity: 0.6;
        }

        @keyframes show {
            0% {
                transform: translateX(100%);
            }
            40% {
                transform: translateX(-5%);
            }
            80% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-10%);
            }
        }

        .toastPopup::before {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--color);
            width: 100%;
            height: 3px;
            content: '';
            box-shadow: 0 0 10px var(--color);
            animation: timeOut 5s linear 1 forwards;
        }

        @keyframes timeOut {
            to {
                width: 0;
            }
        }

        .toastPopup.error {
            --color: #f24d4c;
            background-image: linear-gradient(
                    to right,
                    #f24d4c55,
                    #22242f 30%
            );
        }

        .toastPopup.warning {
            --color: #e9bd0c;
            background-image: linear-gradient(
                    to right,
                    #e9bd0c55,
                    #22242f 30%
            );
        }

        .toastPopup.info {
            --color: #3498db;
            background-image: linear-gradient(
                    to right,
                    #3498db55,
                    #22242f 30%
            );
        }
    </style>
    <!-- Core theme CSS (includes Bootstrap)-->
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a
                class="navbar-brand"
                href="#!"
        >Start Bootstrap</a
        >
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a
                            class="nav-link active"
                            aria-current="page"
                            href="/"
                    >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="#!"
                    >About</a
                    >
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            id="navbarDropdown"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >Shop</a
                    >
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown"
                    >
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#!"
                            >All Products</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#!"
                            >Popular Items</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#!"
                            >New Arrivals</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>

            <div
                    id="loginForm"
                    style="
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                        "
            >
                <button
                        class="btn btn-outline-dark"
                        type="submit"
                        style="margin-right: 8px; display: none"
                        id="cart-btn"
                >
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span
                            class="badge bg-dark text-white ms-1 rounded-pill"
                            id="showQuantity"
                    >0</span
                    >
                </button>

                <button
                        id="logout-btn"
                        class="btn btn-person-dash-fill"
                        type="submit"
                        onclick="logOutEvent()"
                        style="display: none; margin-right: 8px"
                >
                    <i class="bi-person-fill me-1"></i>
                    Log out
                </button>
                <button
                        id="user-btn"
                        class="btn btn-outline-dark"
                        onclick="userEvent()"
                        type="button"
                        style="
                                margin-right: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-left: 5px;
                                display: none;
                            "
                >
                    <i
                            class="bi bi-person-lines-fill me-1"
                            style="margin: 0"
                    ></i>
                    <span>Info</span>
                </button>
                <button
                        id="login-btn"
                        class="btn btn-outline-dark"
                        type="submit"
                        style="margin-right: 8px"
                >
                    <a href="/login">
                        <i class="bi-person-fill me-1"></i>
                        Sign in
                    </a>
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img
                        id="productImage"
                        class="card-img-top mb-5 mb-md-0"
                        src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                />
            </div>
            <div class="col-md-6">
                <div
                        class="small mb-1"
                        id="productSKU"
                ></div>
                <h1
                        class="display-5 fw-bolder"
                        id="productName"
                ></h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span id="productPrice"></span>
                </div>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span id="productQuantity"></span>
                </div>
                <p
                        class="lead"
                        id="productDescription"
                ></p>
                <div class="d-flex">
                    <input
                            class="form-control text-center me-3"
                            id="inputQuantity"
                            type="num"
                            value="1"
                            style="max-width: 3rem"
                    />
                    <button
                            class="btn btn-outline-dark flex-shrink-0"
                            type="button"
                            id="add-to-cart-button"
                    >
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div
                class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" ,
                id="relatedProducts"
        >
        </div>
    </div>
</section>
Footer
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2023
        </p>
    </div>
</footer>
<div
        class="notifications"
        id="notifications"
></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--<script src="js/scripts.js"></script>-->
<script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.7.1.min.js"
></script>
<script src="/js/ultils.js"></script>
<script src="/js/fetch.js"></script>

<script>
    //get last part of url
    const loadRelateProd = (cate_id) => {
        const productURL = 'http://t.hoangdeptrai.online/api/admin' + '/product?category=' + cate_id + '&limit=6';

        const successGetRP = (res) => {
            const productsContainer = document.getElementById('relatedProducts');
            productsContainer.innerHTML = ''; // Clear current content
            data = res.data;
            data.forEach(product => {
                    const productCardHTML = `
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="../${product.imagePath}" alt="${product.name}" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">${product.name}</h5>
                                <!-- Product price-->
                                ${product.price.toLocaleString()} $
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/getItem/${product.id}">View options</a>
                            </div>
                        </div>
                    </div>
                </div>
            `;
                    productsContainer.insertAdjacentHTML('beforeend', productCardHTML);
                }
            )
        }

        getDataFromApi(productURL,successGetRP,{})
    }


    const token = localStorage.getItem('token');
    if (token != null) {
        const checkTokenUrl = API_URL + '/auth/check-token' + '?token=' + token;
        getDataFromApi(checkTokenUrl, () => {
        }, () => {
            localStorage.removeItem('user');
            localStorage.removeItem('token');
        })
    } else {
        localStorage.removeItem('user');
        localStorage.removeItem('token');
    }

    window.onload = function () {
        loadQuantity();
    };

    // Get the product ID from the URL path
    const pathArray = window.location.pathname.split('/');
    const productId = pathArray[pathArray.length - 1]; // Get the last part of the path
    const productIdAsInt = parseInt(productId, 10);

    document.addEventListener('DOMContentLoaded', function () {
        if (isNaN(productIdAsInt)) {
            console.error('Invalid product ID');
            return;
        }
        let productStock;

        fetch(
            `http://t.hoangdeptrai.online/api/user/stock/product/${productIdAsInt}`
        )
            .then((response) => {
                if (!response.ok) {
                    throw new Error(
                        `HTTP error! Status: ${response.status}`
                    );
                }
                return response.json();
            })
            .then((data) => {
                console.log(data.data.quantity);
                if (data.data.quantity > 0) {
                    productStock = `Số lượng còn lại: ${data.data.quantity}`;
                } else {
                    productStock = 'Sản phẩm hết hàng.';
                }
                document.getElementById('productQuantity').textContent =
                    productStock;
                // You can use productStock here or in subsequent code
            })
            .catch((error) => {
                console.error('Error fetching data:', error);
                // Handle the error appropriately
            });

        // Fetch data for the specified product
        fetch(
            `http://t.hoangdeptrai.online/api/admin/product/${productIdAsInt}`
        )
            .then((response) => {
                if (!response.ok) {
                    throw new Error(
                        `HTTP error! Status: ${response.status}`
                    );
                }
                return response.json();
            })
            .then((product) => {
                console.log(product.data);

                product.data.imagePath = product.data.imagePath.replace(
                    /\\/g,
                    '/'
                );

                // Render the fetched data on the page
                document.getElementById(
                    'productImage'
                ).src = `../${product.data.imagePath}`;
                document.getElementById(
                    'productSKU'
                ).innerHTML = `SKU: ${product.data.category.name}`;
                document.getElementById('productName').textContent =
                    product.data.name;
                document.getElementById('productPrice').textContent =
                    formatPrice(product.data.price);

                document.getElementById(
                    'productDescription'
                ).textContent = product.data.description;

                loadRelateProd(product.data.category.id);
            })
            .catch((error) => {
                console.error('Error fetching product data:', error);
            });
    });

    const addToCartButton =
        document.getElementById('add-to-cart-button');
    addToCartButton.addEventListener('click', function () {
        console.log('Product ID to add to cart: ' + productIdAsInt);

        const quantity = document.getElementById('inputQuantity').value;
        const price = parseFloat(
            document
                .getElementById('productPrice')
                .textContent.replace(/\./g, '')
                .replace(',', '.')
        );
        console.log(price);
        const createdAt = new Date().toISOString();
        const user = localStorage.getItem('user');
        const parsedUser = JSON.parse(user);
        if (!user) {
            createToast(
                'error',
                'bi-check-circle',
                'Error',
                'Vui lòng đăng nhập.'
            );
            return;
        }
        // Prepare the data to send
        const data = {
            productId: productIdAsInt,
            quantity: parseInt(quantity),
            price: price,
            createdAt: createdAt,
            user_id: parsedUser.id,
        };

        // Send the POST request
        fetch('http://t.hoangdeptrai.online/api/cart/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error(
                        `HTTP error! Status: ${response.status}`
                    );
                }
                return response.json();
            })
            .then((data) => {
                loadQuantity();
                let status = JSON.stringify(data.status);
                let message = JSON.stringify(data.message);
                createToast(
                    status,
                    'bi-check-circle',
                    'Success',
                    message
                );
            })
            .catch((error) => {
                createToast(
                    'error',
                    'bi-check-circle',
                    'Error',
                    'Product is out of stock'
                );
                console.error('Error adding to cart:', error);
            });
    });

    const logOutButton = document.getElementById('logout-btn');
    const cartButton = document.getElementById('cart-btn');
    const userButton = document.getElementById('user-btn');
    const signInButton = document.getElementById('login-btn');

    onSuccessfulLogin = (response) => {
        console.log(response);
        if (response.data.token) {
            console.log('Data: ' + response.data);
            localStorage.setItem('user', JSON.stringify(response.data));
            localStorage.setItem('token', response.data.token);
        }
        localStorage.setItem('user', JSON.stringify(response.data));
        logOutButton.style.display = 'block';
        signInButton.style.display = 'none';
        cartButton.style.display = 'block';
        userButton.style.display = 'block';
    };

    onFailedLogin = (error) => {
        document.getElementById('error-message').innerHTML = error;
        document.getElementById('error-message').style.display =
            'block';
        logOutButton.style.display = 'none';
        cartButton.style.display = 'none';
        signInButton.style.display = 'block';
        userButton.style.display = 'none';
    };

    const loginUrl = API_URL + '/auth/login';
    console.log(localStorage.getItem('token'));
    // check if have token in local storage
    if (localStorage.getItem('token')) {
        const data = {
            token: localStorage.getItem('token'),
        };

        onTokenLogin = (response) => {
        };
        postDataToApi(loginUrl, data, onSuccessfulLogin, onTokenLogin);
    } else if (localStorage.getItem('user')) {
    }

    function logOutEvent() {
        // Lấy token và user từ localStorage và xóa chúng
        const token = localStorage.getItem('token');
        const user = localStorage.getItem('user');
        localStorage.removeItem('token');
        localStorage.removeItem('user');

        console.log('Lay thong tin Logout');
        const logoutUrl = API_URL + '/auth/logout'; // Thay API_URL bằng địa chỉ URL thực tế của API logout
        fetch(logoutUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({token: token}), // Gửi token để xác định người dùng đăng xuất
        })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = '/';
                if (JSON.stringify(data.status) == 'success') {
                } else {
                    // Xử lý lỗi đăng xuất nếu cần
                    console.error('Error logging out:', data.message);
                    // Có thể hiển thị thông báo lỗi cho người dùng
                }
            })

            .catch((error) => {
                // Xử lý lỗi đăng xuất nếu có lỗi mạng hoặc lỗi server
                console.error('Error logging out:', error);
                // Có thể hiển thị thông báo lỗi cho người dùng
            });
        window.location.reload();
    }

    document.getElementById('cart-btn').onclick = function () {
        cartEvent();
    };

    function cartEvent() {
        window.location.href = '/viewCart';
    }

    function loadQuantity() {
        fetch('http://t.hoangdeptrai.online/api/cart/getAll')
            .then((response) => {
                if (!response.ok) {
                    throw new Error(
                        `HTTP error! Status: ${response.status}`
                    );
                }
                return response.json();
            })
            .then((data) => {
                // Lấy số lượng dòng trong dữ liệu trả về
                const user = JSON.parse(localStorage.getItem('user')); // Lấy thông tin người dùng từ localStorage
                const cartItems = data.cartItems;
                let numberOfItemsInCart = 0;

                // Lặp qua mảng cartItems và đếm số lượng dòng với user_id trùng với user.id
                for (const item of cartItems) {
                    if (item.user_id === user.id) {
                        numberOfItemsInCart++;
                    }
                }

                console.log(numberOfItemsInCart);

                // Cập nhật số lượng sản phẩm trên giao diện
                const showQuantity =
                    document.getElementById('showQuantity');
                showQuantity.textContent = numberOfItemsInCart;
            })
            .catch((error) => {
                console.error('Error fetching cart data:', error);
            });
    }

    function formatPrice(price) {
        return new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        }).format(price);
    }

    function convertToVND(priceString) {
        // Remove non-numeric characters and replace ',' with ''
        const numericString = priceString
            .replace(/[^\d.]/g, '')
            .replace(',', '');

        // Convert the numeric string to a floating-point number
        const price = parseFloat(numericString);

        // Check if the conversion was successful
        if (isNaN(price)) {
            throw new Error(
                'Invalid input. Unable to convert to a numeric value.'
            );
        }

        // Return the numeric value
        return price;
    }
</script>
</body>
</html>
