<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="">
    <title>Title</title>
</head>
<body>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form id="loginForm">

                                <!-- Existing registration form fields... -->

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="loginEmail">Email</label>
                                    <input type="email" id="loginEmail" placeholder="example@gmail.com" class="form-control form-control-lg"/>
                                </div>

                                <div class="form-outline mb-4" style="margin-bottom: 0">
                                    <label class="form-label" for="loginPassword">Password</label>
                                    <input type="password" id="loginPassword" class="form-control form-control-lg"/>
                                </div>
                                <div class="custom-control custom-checkbox mb-4">
                                    <input class="custom-control-input" type="checkbox" value="" id="rememberPassword"
                                           checked/>
                                    <label class="custom-control-label" for="rememberPassword">Remember password</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login
                                    </button>
                                </div>



                                <p class="text-center text-muted mt-3 mb-0">Don't have an account?
                                    <a href="/register" class="fw-bold text-body">
                                        <u>Register here</u>
                                    </a>
                                </p>


                            </form>


                            <div id="error-message" class="alert alert-danger" style="display:none;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="/js/fetch.js"></script>
<script src="/js/ultils.js"></script>
<script>

    //login scope
    const loginUrl = API_URL + '/auth/login';

    onSuccessfulLogin = (response) => {
        console.log(response);
        if (response.data.token) {
            console.log(response.data);
            localStorage.setItem('user', response.data);
            localStorage.setItem('token', response.data.token);
        }
        window.location.href = '/';
    }

    onFailedLogin = (error) => {
        document.getElementById('error-message').innerHTML = error;
        document.getElementById('error-message').style.display = 'block';
    }

    console.log(localStorage.getItem('token'));
    // check if have token in local storage
    if (localStorage.getItem('token')) {
        const data = {
            token: localStorage.getItem('token')
        }
        onTokenLogin = (response) => {}
        postDataToApi(loginUrl, data, onSuccessfulLogin, onTokenLogin);
    }

    const loginUser = async (event) => {
        event.preventDefault();
        const email = document.getElementById('loginEmail').value;
        const password = document.getElementById('loginPassword').value;
        const checkbox = document.getElementById('rememberPassword').checked;

        const data = {
            email: email,
            password: password,
            remember: checkbox
        }
        console.log(data);

        postDataToApi(loginUrl, data, onSuccessfulLogin, onFailedLogin);

    }
    document.getElementById('loginForm').addEventListener('submit', loginUser);

</script>
</html>