Minh Trí
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gửi Email</title>
</head>
<body>
<h1>Gửi Email</h1>
<form action="/sendEmail" method="post">
  <label for="from">From:</label>
  <input type="text" id="from" name="from"><br><br>

  <label for="to">To:</label>
  <input type="text" id="to" name="to"><br><br>

  <label for="subject">Subject:</label>
  <input type="text" id="subject" name="subject"><br><br>

  <label for="content">Content:</label>
  <textarea id="content" name="content"></textarea><br><br>

  <input type="submit" value="Gửi">
</form>

<p th:text="${message}"></p>
</body>
</html>