<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/info/dang-ky" method="post">
    Tên đăng nhập: <input name="username"><br>
    Mật khẩu: <input name="password" type="password"><br>
    Giới tính:
    <input name="gender" type="radio" value="true">Nam
    <input name="gender" type="radio" value="false">Nữ<br>
    <input name="married" type="checkbox">Đã có gia đình?<br>
    Quốc tịch: <select name="country">
    <option value="VN">Việt Nam</option>
    <option value="US">United States</option><br>
    <input name="hobbies" type="checkbox" value="Đọc sách">Đọc sách
    <input name="hobbies" type="checkbox" value="Du lịch">Du lịch
    <input name="hobbies" type="checkbox" value="Âm Nhạc">Âm nhạc
    <input name="hobbies" type="checkbox" value="Khác">Khác<br>
</select><br>
    Ghi chú: <textarea name="notes" rows="3" cols="30"></textarea>
    <hr>
    <button id="submit-button">Đăng ký</button>
</form>
<div id="result"></div>
</body>
<script>
    document.getElementById("submit-button").addEventListener("click", function (e) {
        e.preventDefaultEvent();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const gender = document.querySelector('input[name="gender"]:checked').value;
        const married = document.querySelector('input[name="married"]').checked;
        const country = document.getElementById("country").value;
        const notes = document.getElementById("notes").value;

        // Tạo một đối tượng JSON từ dữ liệu form
        const data = {
            username: username,
            password: password,
            gender: gender,
            married: married,
            country: country,
            notes: notes
        };

        // Gửi yêu cầu POST bằng fetch
        fetch("/info/dang-ky", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            // Hiển thị kết quả trả về trong div "result"
            const resultDiv = document.getElementById("result");
            console.log(data);
            result.innerHTML = data;
        })
        .catch(error => console.error("Lỗi:", error));
    });

</script>
</html>