.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.fade-in.active {
    opacity: 1;
}

/* CSS for rotate animation */
.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.rotate.active {
    transform: rotate(0);
}

.buttons-noti {
    padding: 10px;
}
/* Update the class name to .toast */
.show-toast {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    color: white;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.filter-container{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin:0;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
